/output
/target
/.project
/.settings
/.metadata
/appstore_service/target
/appstore_service/webapp/WEB-INF/classes
/appstore_service/.settings
/appstore_service/.classpath
/appstore_service/.project
/dp_admin/target
/dp_admin/webapp/WEB-INF/classes
/dp_admin/.classpath
/dp_admin/.project
/dp_admin/.settings
/dp_portal/target
/dp_portal/webapp/WEB-INF/classes
/dp_portal/.settings
/dp_portal/.project
/dp_portal/.classpath
/dp_resource/target
/dp_resource/webapp
/dp_resource/.settings
/dp_resource/.project
/dp_resource/.classpath
/RemoteSystemsTempFiles/.project