<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>DP</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:applicationContext.xml
			classpath*:/applicationContext-ws-server.xml
			classpath:applicationContext-job.xml
		</param-value>
	</context-param>
	
	<context-param>
		<param-name>mseConfigLocation</param-name>
		<!--userpath代表jetty目录,classpath代表类目录 -->
		<param-value>classpath:mse-config.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 2011-12-20 -->
	<servlet>
		<servlet-name>jaxws-servlet</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSSpringServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jaxws-servlet</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>
	<!-- ended of 2012-12-20 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter>
		<filter-name>osivFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>osivFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>FRServlet</servlet-name>
		 <servlet-class>com.coship.sdp.sce.dp.release.FRServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FRServlet</servlet-name>
		<url-pattern>/FRServlet</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>com.coship.mse.dispatcher.MessageServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
	<servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/services/receiveMsg</url-pattern>
    </servlet-mapping> 
	
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>main.jsp</welcome-file>
	</welcome-file-list>
</web-app>