@charset "utf-8";

body{
	font-size: 14px;
	font-family: verdana;
}

#container{
	margin: 0 auto;
	width: 600px;
	color: #333;
	padding: 15px;
	margin-top: 80px;
	height: 100%;
}

h1{
	padding: 0 0 0 25px;
	font-weight: bold;
	font-size: 18px;
	color: #505050;
}

section{
	height: 100%;
}

#comments{
	padding: 10px 5px;
	font-size: 12px;
	color: #808080;
}

.item{
	border-top: 1px dotted #CCC;
	font-size:14px;
	color:#808080;
	padding: 10px 0 10px;
	margin-top: 10px;
}

.itemtxt{
	font-size:12px;
	color:#808080;
	padding: 0px 0 10px;
}

*:focus {outline: none;}

.input-wrapper
{
	width:275px;
	height:80px;
	background:url(../img/input-bg.png);
	margin-left:10px;
	float:left;
}

.submit-wrapper
{
	width:250px;
	height:80px;
	margin-left:10px;
	float:left;
}

.input-mask
{
	background:url(../img/input-mask.png);
	width:275px;
	height:80px;
}

.living-input
{
	padding:5px 5px 5px 5px;
	margin:27px 0px 0px 24px;
	width:217px;
	background:none;
	border:none;
	color:#909090;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	float:left;
	box-shadow: 0 0 0 0;
}

.living-submit
{
	padding:15px 5px 15px 12px;
	margin:20px 0px 0px 24px;
	width:217px;
	background: #E1E1E1;
	border: 1px solid #ccc;
	color:#CCCCCC;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	float:left;
	box-shadow: 0 0 0 0;
}

.living-textarea
{
	padding:5px;
	margin:16px 0px 0px 12px;
	width:500px;
	height:160px;
	background:none;
	border:none;
	color:#909090;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	box-shadow: 0 0 0 0;
}

.textarea-wrapper
{
	width:534px;
	height:206px;
	background:none;
	margin-left:19px;
	float:left;
}

.info-wrapper{
	width: 600px;
	height:206px;
	background:none;
	margin-left:19px;
	float:left;
	padding: 10px 0px;
}

.tag-wrapper{
	width: 600px;
	background:none;
	margin-left:19px;
	float:left;
	padding: 10px 5px;
}