<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd" default-lazy-init="false">

<!-- 
                 每隔5秒执行一次：*/5 * * * * ?
                 每隔1分钟执行一次：0 */1 * * * ?
                 每天23点执行一次：0 0 23 * * ?
                 每天凌晨1点执行一次：0 0 1 * * ?
                 每月1号凌晨1点执行一次：0 0 1 1 * ?
                 每月最后一天23点执行一次：0 0 23 L * ?
                 每周星期天凌晨1点实行一次：0 0 1 ? * L
                 在26分、29分、33分执行一次：0 26,29,33 * * * ?
                 每天的0点、13点、18点、21点都执行一次：0 0 0,13,18,21 * * ?
 -->

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
	   <property name="triggers">  
	        <list> 
	            <ref bean="cronTrigger"/>  
	            <ref bean="logForBITrigger"/>
	            <ref bean="thumbnailTrigger"/>
	        </list>  
	    </property>  
	</bean>
	
	
	
	
	
	<!-- 推送数据到搜索引擎 -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
	    <property name="jobDetail" ref="asyn_app_info" />  
	    <!-- 每隔1小时执行1次 -->
	    <property name="cronExpression" value="0 0 */1 * * ?" />  
	</bean>
	
	<bean id="asyn_app_info"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="timerJob" />
		<property name="targetMethod" value="asynData" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="httpPostSynData" class="com.coship.sdp.sce.dp.job.HttpPostSynData">
	    <property name="syncCountOnce" value="200"/>
	</bean>
	<bean id="timerJob" class="com.coship.sdp.sce.dp.job.TimerJob">
	    <property name="synData" ref="httpPostSynData"/>
	</bean>
	 
	 
	
	<!-- 打印BI日志 -->
	<bean id="logForBITrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="logForBITask" />
		</property>
		<!-- 每天凌晨1点执行1次 -->
		<property name="cronExpression">
			<value>0 0 1 * * ?</value>
		</property>
	</bean>
	
	<bean id="logForBITask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="logScheduleJob" />
		</property>
		<property name="targetMethod">
			<value>logForBI</value>
		</property>
	</bean>
	
	
	<!-- 生成缩略图 -->
	<bean id="thumbnailTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="thumbnailTask" />
		</property>
		<!-- 每隔10分钟执行一次 -->
		<property name="cronExpression">
			<value>0 */1 * * * ?</value>
		</property>
	</bean>
	
	<bean id="thumbnailTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="jobManage" />
		</property>
		<property name="targetMethod">
			<value>appThumbnailJob</value>
		</property>
	</bean>


</beans>


